body {
    background: url("1515429728-BACKGROUND-tile.jpg");
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: rgba(128,138,138,1);
    margin: 0px !important;
}

.parent {
    
}

.main {
  background: rgba(255,255,255,.6);
}
.sidebar {
  background: rgba(255,255,255,.2);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 641px){
  .parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1025px){
  .parent {
    grid-template-columns: 2fr 1fr;
  }
}
