body {
    background: url("1515429728-BACKGROUND-tile.jpg");
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: rgba(128,138,138,1);
    margin: 0px !important;
    line-height: 1.8;
}

.parent {
}

.odd-row {
    .main {
        background: rgba(192,192,192,0.3);
        padding: 25px;
    }

    .main-content {
      background: rgba(192,192,192,0.2);
      padding: 25px;
    }
}

.even-row {
    .main {
        background: rgba(192,192,192,0.35);
        padding: 25px;
    }

    .main-content {
      background: rgba(192,192,192,0.25);
      padding: 25px;
    }
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 600px){
    .main {
        padding: 50px;
    }
    .main-content {
        padding: 50px;
    }
}

@media only screen and (min-width: 900px){
    .parent {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .main {
        padding: 50px;
        text-align: right;
    }
    .main-content {
        padding: 50px;
        padding-right: 25%;
    }
}

@media only screen and (min-width: 1600px){
    .main-content {
        padding-right: 35%;
    }
}

