body {
    background: url("1515429728-BACKGROUND-tile.jpg");
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: rgba(128,138,138,1);
    margin: 0px !important;
}

.parent {
}

.main {
    background: rgba(192,192,192,0.3);
    padding: 50px;
}

.main-content {
  background: rgba(192,192,192,0.2);
  padding: 50px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
/* MEDIA QUERIES */
@media only screen and (min-width: 641px){
    .parent {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .main {
        text-align: right;
    }
    .main-content {
        padding-right: 35%;
    }
}

